body{

height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}
header{
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}
.anchor{

    font-size: 80px;
}

main{
font-size: large;
}

.otherpage{
    background-image: url("../images/images\ \(1\).jfif");
    width: 1vh;

}
.indexpage{
    background-image: url("../images/94166533235515276dec0678bd3f0056_222352.jpg")
}
nav a{
    font-size: 90px;
    color: rgb(243, 210, 20);
    
}

.logo{
    width: 200px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav ul li+li{
padding-left: 25px;
border: 2px solid red;
}

.grid-nav{
display: grid;
grid-template-areas: 
"air water"
"fire earth";
}
.fire{
    grid-area: fire;
}
.earth{
    grid-area:earth
}
.water{
    grid-area: water;
}
.air{
    grid-area: air;
}

.air-index{
    background-image: url("../images/Air.png");
    
}